<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator - {{ action }}</title>
</head>
<body>
<center>
    <form action="/{{ action }}" method="post">
        <input value="{{ x }}" type="number" name="x">
        <input type="number" name="y" value="{{ y }}">
        <input type="submit">
    </form>
    <h1>{{ result }}</h1>
</center>
</body>
</html>
